html {
  font-size: $font-size;
  font-family: $font-family;
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  color: $font-color;
  height: 100%;
}

body {
  text-align: center;
}

.instructions {
  font-weight: 700;
  margin: 24px 0 32px;
}

.game-container {
  position: relative;
  flex: 1;
  max-width: 620px;
  width: 100%;
  display: flex;
  margin: -6px auto;
}

.player {
  position: absolute;
  height: 100%;

  &:nth-child(1) {
    clip-path: polygon(0 100%, 35% 100%, 65% 0, 0 0);
    z-index: 1;
    background: linear-gradient(
      173.97deg,
      #ffffff 0%,
      rgba(0, 0, 0, 0) 9.3%,
      rgba(48, 48, 48, 0) 86.22%,
      rgba(255, 253, 253, 0.94) 95.22%
    );
  }

  &:nth-child(2) {
    background: linear-gradient(
      173.97deg,
      #ffffff 0%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(48, 48, 48, 0) 86.22%,
      rgba(255, 253, 253, 0.94) 95.22%
    );
  }
}

.player-container,
.remote-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.player-container .player-video,
.remote-container .remote-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.player-container .player-video {
  transform: scaleX(-1) translateX(25%);
}

.remote-container .remote-video {
  transform: translateX(25%);
}

.remote-container .avatar {
  width: 100%;
  display: none;
}

.player-hand-container {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  margin: 16px;

  &.remote-hand-container {
    left: unset;
    top: unset;
    right: 0;
    bottom: 0;
    flex-direction: row-reverse;
  }

  .player-hand {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 42px;
    line-height: 100px;
  }

  #remote-hand {
    position: absolute;
    top: 2px;
    right: 1px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 42px;
    line-height: 100px;
  }

  .player-hand-zoom {
    animation: handZoom 0.5s;
    animation-iteration-count: 1;
  }

  .timer-ring-circle {
    transition: stroke-dashoffset 0.1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Euclid Circular B';
    padding: 0 24px;

    &#score1 {
      &::before {
        content: '';
        position: absolute;
        height: 74px;
        width: 78px;
        background: linear-gradient(
          90deg,
          rgba(31, 43, 132, 0.9) 0%,
          rgba(86, 42, 164, 0.9) 83.69%
        );
        border: 1px solid #bba1ff;
        border-radius: 8.65653px;
        z-index: -1;
      }
    }

    &#score2 {
      &::before {
        content: '';
        position: absolute;
        height: 74px;
        width: 78px;
        background: linear-gradient(
          90deg,
          rgba(175, 14, 20, 0.9) 0.58%,
          rgba(86, 42, 164, 0.9) 0.59%,
          rgba(221, 31, 38, 0.9) 41.99%,
          rgba(221, 31, 38, 0.9) 83.69%
        );
        /* SchindColor */

        border: 1px solid #dc0000;
        border-radius: 8.41676px;
        z-index: -1;
      }
    }
  }
}

@keyframes handZoom {
  0% {
    font-size: 42px;
  }
  50% {
    font-size: 64px;
  }
  100% {
    font-size: 42px;
  }
}
