html {
  font-size: $font-size;
  font-family: $font-family;
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  color: $font-color;
  height: 100%;
}

body {
  text-align: center;
}

.instructions {
  font-weight: 700;
  margin: 24px 0 32px;
}

.game-container {
  position: relative;
  flex: 1;
  max-width: 620px;
  width: 100%;
  display: flex;
  margin: -6px auto;
}

.player-headline {
  display: flex;
  justify-content: space-between;

  .nick,
  .score {
    font-family: '8BIT WONDER', sans-serif;
    font-size: 24px;
    padding: 0 24px;
  }
}

.player {
  position: absolute;
  height: 100%;

  &:nth-child(1) {
    clip-path: polygon(0 100%, 35% 100%, 65% 0, 0 0);
    z-index: 1;
    background: linear-gradient(
      173.97deg,
      #ffffff 0%,
      rgba(0, 0, 0, 0) 9.3%,
      rgba(48, 48, 48, 0) 86.22%,
      rgba(255, 253, 253, 0.94) 95.22%
    );
  }

  &:nth-child(2) {
    background: linear-gradient(
      173.97deg,
      #ffffff 0%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(48, 48, 48, 0) 86.22%,
      rgba(255, 253, 253, 0.94) 95.22%
    );
  }
}

.player-container,
.remote-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.player-container .player-video,
.remote-container .remote-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.player-container .player-video {
  transform: scaleX(-1) translateX(25%);
}

.remote-container .remote-video {
  transform: translateX(25%);
}

.remote-container .avatar {
  width: 100%;
  display: none;
}

.remote-container .remote-hand {
  position: absolute;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
}

.player-hand-container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
}

.player-hand {
  position: absolute;
  top: 2px;
  right: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 42px;
  line-height: 100px;
}

.player-hand-zoom {
  animation: handZoom 0.5s;
  animation-iteration-count: 1;
}

@keyframes handZoom {
  0% {
    font-size: 42px;
  }
  50% {
    font-size: 64px;
  }
  100% {
    font-size: 42px;
  }
}

.timer-ring-circle {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
