@font-face {
  font-family: 'Euclid Circular B';
  src: url('../fonts/8BITWONDERNominal.woff');
}

$font-size: 1rem;
$font-family: 'Euclid Circular B', Courier, monospace;
$font-color: #dae0e0;
$page-width: 650px;
