@font-face {
  font-family: 'Euclid Circular B';
  src: url('../fonts/euclid-circular-b-cufonfonts/Euclid\ Circular\ B\ Regular.ttf');
}

$font-size: 1rem;
$font-family: '8BIT WONDER', Courier, monospace;
$font-color: #dae0e0;
$page-width: 650px;
