@font-face {
  font-family: '8BIT WONDER';
  src: url('../fonts/8BITWONDERNominal.woff2') format('woff2'),
    url('../fonts/8BITWONDERNominal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'variables';
@import 'game';

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/background.png) no-repeat center bottom;
    opacity: 0.5;
    z-index: -1;
  }

  #logo {
    height: 160px;
    width: 160px;
    background-image: url('../images/logo.png');
    margin-top: 48px;
    margin-bottom: 48px;
  }

  #levelup {
    height: 66px;
    width: 272px;
    background-image: url('../images/levelup.png');
    margin-bottom: 6px;
  }

  #teaser1 {
    .green {
      color: #86ff0c;
    }
  }

  #teaser2 {
    font-size: 16px;
    line-height: 20px;

    .bigger {
      font-size: 30px;
      line-height: 32px;
    }
  }

  #hack {
    position: absolute;
    bottom: 32px;
    left: 32px;
    height: 54px;
    width: 54px;
    background-image: url('../images/hack.png');
  }
}
